{% extends 'base.html' %}

{% block content %}
    <header class="container">
        <h1 class="text-center">Clientes</h1>
    </header>
    <main class="container">
        <section class="mb-2">
            <a class="btn btn-primary" href="{% url 'view_add_customer' %}">
                Registrar cliente
            </a>
            <a class="btn btn-primary" href="#">
                Registrar datos adicionales
            </a>
        </section>
        <section>
            {% if my_customers %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Dirección</th>
                            <th>Fecha de nacimiento</th>
                            <th>Correo electrónico</th>
                            <th>Telefono fijo</th>
                            <th>Telefono celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for my_customer in my_customers %}
                            <tr>
                                <td>{{ my_customer.customerId }}</td>
                                <td>{{ my_customer.firstName }}</td>
                                <td>{{ my_customer.lastName }}</td>
                                <td>{{ my_customer.address }}</td>
                                <td>{{ my_customer.dateOfBirth }}</td>
                                <td>{{ my_customer.email }}</td>
                                <td>{{ my_customer.homePhone }}</td>
                                <td>{{ my_customer.cellPhone }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No hay clientes registrados.</p>
            {% endif %}
        </section>
    </main>
{% endblock %}