{% extends 'base.html' %}

{% block content %}
    <header class="mt-3">
        <h1 class="text-center">Bienvenido a ABC Electronics</h1>
    </header>
    <main>
        <section class="container border border-black mb-2">
            <h2>Clientes</h2>
            <div class="mb-2">
                <a class="btn btn-primary btn-sm" 
                   href="{% url 'view_add_customer' %}">
                    Registrar nuevo</a>
                <a class="btn btn-primary btn-sm">Registrar datos adicionales</a>
            </div>
            <div>
                {% if my_customers %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Dirección</th>
                            <th>Fecha de nacimiento</th>
                            <th>Correo electrónico</th>
                            <th>Telefono fijo</th>
                            <th>Telefono celular</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for my_customer in my_customers %}
                            <tr>
                                <td>{{ my_customer.customerId }}</td>
                                <td>{{ my_customer.firstName }}</td>
                                <td>{{ my_customer.lastName }}</td>
                                <td>{{ my_customer.address }}</td>
                                <td>{{ my_customer.dateOfBirth }}</td>
                                <td>{{ my_customer.email }}</td>
                                <td>{{ my_customer.homePhone }}</td>
                                <td>{{ my_customer.cellPhone }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No hay clientes registrados.</p>
                {% endif %}
            </div>
        </section>
        <section class="container border border-black mb-2">
            <h2>Pedidos</h2>
            <div class="mb-2">
                <a class="btn btn-primary btn-sm"
                   href="{% url 'view_add_order' %}">
                    Registrar nuevo</a>
            </div>
            <div>
                {% if my_orders %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Número de pedido</th>
                            <th>Número de identificación del cliente</th>
                            <th>Fecha del pedido</th>
                            <th>Fecha de envió</th>
                            <th>Fecha de pago</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in my_orders %}
                            <tr>
                                <td>{{ order.orderNumber }}</td>
                                <td>{{ order.customerid }}</td>
                                <td>{{ order.orderDate }}</td>
                                <td>{{ order.shippedDate }}</td>
                                <td>{{ order.paymentDate }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No hay pedidos registrados.</p>
                {% endif %}
            </div>
        </section>
        <section class="container border border-black mb-2">
            <h2>Productos</h2>
            <div class="mb-2">
                <a class="btn btn-primary btn-sm"
                   href="">
                    Registrar nuevo</a>
            </div>
            <div>
                {% if my_products %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Categoría</th>
                            <th>Descripción</th>
                            <th>Cantidad disponible</th>
                            <th>Costo</th>
                            <th>Precio de venta</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in my_products %}
                            <tr>
                                <td>{{ p.productId }}</td>
                                <td>{{ p.categoryCode }}</td>
                                <td>{{ p.description }}</td>
                                <td>{{ p.quantityAvailable }}</td>
                                <td>{{ p.Cost }}</td>
                                <td>{{ p.sellingPrice }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No hay productos registrados.</p>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}